<div class="card">
  <img class="card-img-top" alt="Movie Thumnail">
  <div class="card-body">
    <h4 class="card-title"> {{movie.title}} </h4>
    <p class="card-text">{{ movie.genre }}</p>
    <p class="card-text">{{ movie.length }} mins</p>
    <p class="card-text">{{ movie.releasedDate }}</p>
    <p class="card-text">{{ movie.language }}</p>
    <p class="card-text">{{ movie.showtime }}</p>
    <p class="card-text">{{ movie.ratings }}</p>
    <p class="card-text">{{ movie.price }}</p>
  </div>
</div>